body {
    background-color: lightblue;
}

h3.heading3Content {
    color: navy;
    margin-left: 20px;
    font-size: 200%;
}

p.paragraphContent  {
    color: black;
    font-family: Lucida Sans Unicode;
    font-size: 160%;
}